body{
    background-image: url("/imgs/blackwall.jpg");
    // background-image: url("/imgs/blacksand.jpg");
    // background-image: url("/imgs/wood.jpg");
    // background-image: url("/imgs/astro.jpg");
    // background-image: url("/imgs/dirtywall.jpg");
    background-position: center;
    background-size: cover;
    color: white;

}
